# score prediction model

In [74]:
%pip install pandas numpy scikit-learn matplotlib

Requirement already satisfied: pandas in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (2.3.5)
Requirement already satisfied: scikit-learn in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (1.7.2)
Requirement already satisfied: matplotlib in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (3.10.8)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=3 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\naushad\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [75]:
import pandas as pd 
data = pd.read_csv("student_performance_updated_1000.csv")
data.head(10)

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,1.0,John,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False
1,2.0,Sarah,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True
2,3.0,Alex,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False
3,4.0,Michael,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False
4,5.0,Emma,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True
5,6.0,Olivia,Female,95.0,30.0,88.0,1.0,High,NaN,2.8,97.0,False
6,7.0,Daniel,Male,70.0,8.0,60.0,0.0,Low,62.0,4.5,96.0,False
7,8.0,Sophia,Female,NaN,17.0,77.0,1.0,Medium,78.0,1.0,70.0,True
8,9.0,James,Male,82.0,12.0,70.0,2.0,Low,72.0,3.6,50.0,False
9,10.0,Isabella,Female,91.0,22.0,86.0,3.0,High,88.0,2.9,59.0,True

In [76]:
print("Columns:", data.columns.tolist())

Columns: ['StudentID', 'Name', 'Gender', 'AttendanceRate', 'StudyHoursPerWeek', 'PreviousGrade', 'ExtracurricularActivities', 'ParentalSupport', 'FinalGrade', 'Study Hours', 'Attendance (%)', 'Online Classes Taken']

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  960 non-null    float64
 1   Name                       966 non-null    object
 2   Gender                     952 non-null    object
 3   AttendanceRate             960 non-null    float64
 4   StudyHoursPerWeek          950 non-null    float64
 5   PreviousGrade              967 non-null    float64
 6   ExtracurricularActivities  957 non-null    float64
 7   ParentalSupport            978 non-null    object
 8   FinalGrade                 960 non-null    float64
 9   Study Hours                976 non-null    float64
 10  Attendance (%)             959 non-null    float64
 11  Online Classes Taken       975 non-null    object
dtypes: float64(8), object(4)
memory usage: 93.9+ KB

In [78]:
# Remove the students id and name as they are identifier
data.drop(columns=['StudentID','Name'],inplace=True)
# commetted above so that to not throw error "columns not exit as  i have executed it once"
data.head(10)

,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False
1,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True
2,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False
3,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False
4,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True
5,Female,95.0,30.0,88.0,1.0,High,NaN,2.8,97.0,False
6,Male,70.0,8.0,60.0,0.0,Low,62.0,4.5,96.0,False
7,Female,NaN,17.0,77.0,1.0,Medium,78.0,1.0,70.0,True
8,Male,82.0,12.0,70.0,2.0,Low,72.0,3.6,50.0,False
9,Female,91.0,22.0,86.0,3.0,High,88.0,2.9,59.0,True

### Checking missing data

In [79]:
data.isnull().sum()

Gender                       48
AttendanceRate               40
StudyHoursPerWeek            50
PreviousGrade                33
ExtracurricularActivities    43
ParentalSupport              22
FinalGrade                   40
Study Hours                  24
Attendance (%)               41
Online Classes Taken         25
dtype: int64

### Handling Missing Data

In [86]:
# We have to impute the data 
data.fillna(data.mean(numeric_only = True),inplace=True)
#  categorical dat parental support
data[['ParentalSupport','Gender','Online Classes Taken']] = data[['ParentalSupport','Gender','Online Classes Taken']].fillna('Unknown')
data.head()

,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,Male,85.000000,15.0,78.0,1.0,High,80.0,4.8,59.0,0.0
1,Female,90.000000,20.0,85.0,2.0,Medium,87.0,2.2,70.0,1.0
2,Male,78.000000,10.0,65.0,0.0,Low,68.0,4.6,92.0,0.0
3,Male,92.000000,25.0,90.0,3.0,High,92.0,2.9,96.0,0.0
4,Female,85.510417,18.0,82.0,2.0,Medium,85.0,4.1,97.0,1.0

In [87]:
data.isnull().sum()

Gender                       0
AttendanceRate               0
StudyHoursPerWeek            0
PreviousGrade                0
ExtracurricularActivities    0
ParentalSupport              0
FinalGrade                   0
Study Hours                  0
Attendance (%)               0
Online Classes Taken         0
dtype: int64

In [88]:
# still having in gender and ParentalSupport,Online Classes Taken as they are not integer
# convert boolean onti integer
data[['Online Classes Taken']] = data[['Online Classes Taken']].replace({True:1,False:0})
data.head()

,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,Male,85.000000,15.0,78.0,1.0,High,80.0,4.8,59.0,0.0
1,Female,90.000000,20.0,85.0,2.0,Medium,87.0,2.2,70.0,1.0
2,Male,78.000000,10.0,65.0,0.0,Low,68.0,4.6,92.0,0.0
3,Male,92.000000,25.0,90.0,3.0,High,92.0,2.9,96.0,0.0
4,Female,85.510417,18.0,82.0,2.0,Medium,85.0,4.1,97.0,1.0

### Data Types

In [83]:
data.dtypes

Gender                        object
AttendanceRate               float64
StudyHoursPerWeek            float64
PreviousGrade                float64
ExtracurricularActivities    float64
ParentalSupport               object
FinalGrade                   float64
Study Hours                  float64
Attendance (%)               float64
Online Classes Taken         float64
dtype: object

In [89]:
numeric_cols = data.select_dtypes(include='number').columns
data[numeric_cols]=data[numeric_cols].round().astype(int)
data.dtypes

Gender                       object
AttendanceRate                int64
StudyHoursPerWeek             int64
PreviousGrade                 int64
ExtracurricularActivities     int64
ParentalSupport              object
FinalGrade                    int64
Study Hours                   int64
Attendance (%)                int64
Online Classes Taken          int64
dtype: object

In [90]:
categorical = data.select_dtypes(include='object').columns
numerical = data.select_dtypes(exclude='object').columns

print("Categorical Features:", list(categorical))
print("Numerical Features:", list(numerical))

Categorical Features: ['Gender', 'ParentalSupport']
Numerical Features: ['AttendanceRate', 'StudyHoursPerWeek', 'PreviousGrade', 'ExtracurricularActivities', 'FinalGrade', 'Study Hours', 'Attendance (%)', 'Online Classes Taken']

In [91]:
data.describe()
# data['Study Hours'].plot(kind="box")

,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,85.530000,17.649000,77.612000,1.541000,80.029000,2.379000,77.238000,0.52000
std,7.184477,6.113688,9.840238,1.028288,9.301649,1.657138,18.898055,0.49985
min,70.000000,8.000000,60.000000,0.000000,62.000000,-5.000000,50.000000,0.00000
25%,82.000000,12.000000,70.000000,1.000000,72.000000,1.000000,64.000000,0.00000
50%,86.000000,18.000000,78.000000,2.000000,80.000000,2.000000,77.000000,1.00000
75%,91.000000,22.000000,86.000000,2.000000,88.000000,4.000000,89.000000,1.00000
max,95.000000,30.000000,90.000000,3.000000,92.000000,5.000000,200.000000,1.00000

In [ ]:
## Study hours has minimus -5 hours which is impossible have to fix and attendance % is also max 200 which not good, fix

In [95]:
import numpy as np
data.loc[data['Study Hours'] < 0, 'Study Hours'] = np.nan
data['Study Hours'] = data['Study Hours'].fillna(data['Study Hours'].median())
data['Attendance (%)'] = data['Attendance (%)'].clip(0, 100)
data.describe()

,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000
mean,85.530000,17.649000,77.612000,1.541000,80.029000,2.449000,76.23800,0.52000
std,7.184477,6.113688,9.840238,1.028288,9.301649,1.482429,14.50744,0.49985
min,70.000000,8.000000,60.000000,0.000000,62.000000,0.000000,50.00000,0.00000
25%,82.000000,12.000000,70.000000,1.000000,72.000000,1.000000,64.00000,0.00000
50%,86.000000,18.000000,78.000000,2.000000,80.000000,2.000000,77.00000,1.00000
75%,91.000000,22.000000,86.000000,2.000000,88.000000,4.000000,89.00000,1.00000
max,95.000000,30.000000,90.000000,3.000000,92.000000,5.000000,100.00000,1.00000

In [ ]:
print(data['Gender'].value_counts(normalize=True)*100)
print(data['ParentalSupport'].value_counts(normalize=True)*100)

In [ ]:
split krna hai aur, encodes, scale, train ,test